@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  --big-title-color: #413d6a;
  --small-title-color: #9d5d94;
  --footer-title-color: #413d6a;
  --footer-text-color: #9d5d94;
  --outer-border-color: #a9a0b9;
  --background-color: #e6e0ef;
  --img-background-color: #a9a0b9;
}

.background {
  position: fixed;
  inset: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;

  z-index: -1;
  pointer-events: none;
}

.background--shadow {
  opacity: 0.1;

  z-index: 20;
}

:not(head, style) {
  display: block;
  margin: 0;
}

.container {
  margin-inline: auto;
  margin-top: 2.5vh;
  width: 85vh;
  height: fit-content;

  overflow: hidden;

  border-inline-width: 1vw;
  border-block-width: 1vh;
  border-color: var(--outer-border-color);
  border-style: solid;
  background-color: var(--background-color);
}

.texture {
  display: none;
  pointer-events: none;
}

.title {
  text-align: center;
  font-family: "Faculty Glyphic", serif;
  font-weight: 400;
  font-style: normal;
}

.title:nth-of-type(5),
.title:nth-of-type(6) {
  display: none;
}

.title--invisible {
  display: none;
}

.title--top,
.title--bottom {
  font-size: 3rem;
  color: var(--big-title-color);

  z-index: 1;
}

.title--left,
.title--right {
  font-size: 1.5rem;
  color: var(--small-title-color);
}

.title--uppercase {
  text-transform: uppercase;
}

.container-img {
  background-color: var(--img-background-color);

  overflow: hidden;
}

.container-img__img {
  position: relative;

  margin: auto;
  width: 50%;
}

.date-place {
  display: inline;

  margin-inline: 2vh;

  font-family: "Roboto", serif;
  font-style: normal;
}

.date-place__date,
.date-place__place {
  text-align: center;
}

.date-place__date {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--footer-text-color);
}

.date-place__place {
  font-size: 3rem;
  font-weight: 700;

  color: var(--footer-title-color);
}

.date-place__link {
  display: block;

  width: fit-content;

  text-decoration: none;
  color: var(--footer-text-color);

  transition: all 200ms ease;
}

.date-place__link:hover {
  color: var(--outer-border-color);
  text-decoration: underline;
}

.footer {
  margin-inline: auto;
  margin-block: 1vh;
  width: 85vh;

  color: var(--background-color);

  text-align: center;
  font-family: "Roboto", serif;
  font-size: 0.7vw;
}

.footer__link {
  display: inline;

  color: var(--background-color);
}

.footer__link:hover {
  color: var(--outer-border-color);
}

@supports (display: grid) {
  .container {
    display: grid;
    grid-template-columns: [thelonious] 8vw [img1] 17vw [img3] 17vw [thelonious-reversed] 8vw;
    grid-template-rows: [monk] 0.5fr [img] 4fr [monk-reverser] 0.5fr [date-time] 0.5fr;

    position: relative;

    width: 50vw;
    height: fit-content;

    border-block-width: 1vw;

    box-shadow: -4px -4px 5px 0px rgba(0, 0, 0, 0.75);
  }

  .texture {
    display: block;

    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;

    pointer-events: none;

    /* efecto papel */
    mix-blend-mode: multiply;
    opacity: 0.8;

    z-index: 10;
  }

  .title {
    width: fit-content;
    height: fit-content;

    line-height: 1;
    letter-spacing: 0;
  }

  .title--top,
  .title--bottom {
    font-size: 10vw;
    line-height: 0.8;
    letter-spacing: -1vw;
  }

  .title--bottom {
    letter-spacing: -1.2vw;
  }

  .title--top {
    grid-column-start: img1;
    grid-column-end: span 3;
  }

  .title--bottom {
    grid-column-start: thelonious;
    grid-column-end: span 3;
  }

  .title--left,
  .title--right {
    display: inline-block;
    margin-block: auto;
    margin-inline: 5vh;

    font-size: 4vw;
    line-height: 0.8;

    writing-mode: vertical-lr;
  }

  .title--left {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: monk;
    grid-row-end: span 2;

    transform: rotate(180deg);
  }

  .title--right {
    grid-column-start: thelonious-reversed;
    grid-column-end: span 1;
    grid-row-start: img;
    grid-row-end: span 2;
  }

  .title:nth-of-type(5),
  .title:nth-of-type(6) {
    display: block;
  }

  .container-img {
    position: relative;

    grid-column-start: img1;
    grid-column-end: span 2;
  }

  .container-img__img {
    position: absolute;

    width: 96%; /* respeta tu diseño actual */

    top: 0;
    left: 0px;

    transition: transform 0.3s ease; /* opcional */
  }

  .container-img__img:nth-of-type(1) {
    transform: translate(0, 0);
    z-index: 3;
  }

  .container-img__img:nth-of-type(2) {
    transform: translate(2vw, 0);
    z-index: 2;
  }

  .container-img__img:nth-of-type(3) {
    transform: translate(4vw, 0);
    z-index: 1;
  }

  .date-place {
    grid-column-start: thelonious;
    grid-column-end: span 5;

    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 12vh;

    margin: 0;

    border-top-style: solid;
    border-top-color: #024bbe;
    border-top-width: 1vw;
  }

  .date-place__place {
    grid-column-start: 1;
    grid-column-end: 1;

    font-size: 6vw;
    text-transform: uppercase;
    line-height: 1;
  }

  .date-place__date {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 2;

    margin-inline: 2vw;

    font-size: 1.5vw;
    font-weight: bold;
  }

  .date-place__separator {
    margin-inline: 3px;
    font-size: 1.5vw;
    font-weight: bold;
  }
}
